<!DOCTYPE html>
{% extends 'catalogapp/base.html' %}
{% load static %}

{% block title %}
    {{ title|title }}
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
        <div class="row">
            {% for promo in promos %}
                <div class="col-md-4">
                    <h3>{{ promo.name }}</h3>
                    {{ promo.description }}
                </div>
            {% endfor %}
        </div>
{% endblock %}

