{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
          <div class="row">
              {% for category in categories %}
                <div class="col-lg-4">
                  <div class="card">
                    <a href="{% static 'category.image' %}" target="_blank">
                      <img class="thumb" src="{% static 'category.image' %}" alt="Что-то не так">
                    </a>
                    <h2>{{ category.name }}</h2>
                    <div class="short_description">{{ category.description }}</div>
                    <a class="btn btn-secondary" href="things" role="button">View details »</a>
                  </div>
                </div>
              {% endfor %}
          </div>
{% endblock %}
