<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Мой маленький Амазончик</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
  <main>
    <header>
      <ul class="menu">
        <li class="menu_item"> <a href="/index">Главная</a></li>
        <li class="menu_item"> <a href="/catalog">Каталог</a></li>
        <li class="menu_item"> <a href="/contacts">Контакты</a></li>
      </ul>
    </header>
    <hr>
    <h1>Амазончик</h1>
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>Lorem Ipsum - это текст-"рыба"</h3>, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для
            распечатки образцов.
          </div>
          <div class="col-md-4">
            <h3>Another header 3</h3> Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время,
            программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
          </div>
          <div class="col-md-4">
            <h3>Почему он используется?</h3> Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное
            <br> распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.."
          </div>
          <div class="col-md-4">
            <h3>Редакторы</h3> Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения.
            За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
          </div>
        </div>
      </div>
    </div>
  </main>
  <hr>
  <footer>
    &copy; Все права защищены
  </footer>
</body>

</html>